<footer>
  <div class="footer-content">
    <a href="#" target="_blank">
      <p>Imersão Alura AI</p>
    </a>
    <ul class="footer-links">
      <li>
        <a href="#" target="_blank">Perguntas frequentes</a>
      </li>
      <li>
        <a href="#" target="_blank">Centro de ajuda</a>
      </li>
      <li><a href="#" target="_blank">Conta</a></li>
      <li>
        <a href="#" target="_blank">Imprensa</a>
      </li>
      <li>
        <a href="#" target="_blank">Relações com investidores</a>
      </li>
      <li>
        <a href="#" target="_blank">Carreiras</a>
      </li>
      <li>
        <a href="#" target="_blank">Formas de assistir</a>
      </li>
      <li>
        <a href="#" target="_blank">Termos de uso</a>
      </li>
      <li>
        <a href="#" target="_blank">Privacidade</a>
      </li>
      <li>
        <a href="#" target="_blank">Preferências de cookies</a>
      </li>
      <li>
        <a href="#" target="_blank">Informações corporativas</a>
      </li>
      <li>
        <a href="#" target="_blank">Entre em contato</a>
      </li>
      <li>
        <a href="#" target="_blank">Teste de velocidade</a>
      </li>
      <li>
        <a href="#" target="_blank">Avisos legais</a>
      </li>
      <li>
        <a href="#" target="_blank">Só na Netflix</a>
      </li>
    </ul>
  </div>
</footer>